@charset "utf-8";

html {
    font-size: 10px
}

@font-face {
    font-family: 'bnlasik';
    src: url('../font/BnviitLasikOTF.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Godo';
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Godo';
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* header */
header {
    margin: 50px 108px;
}

header input {
    border: 0;
    width: 250px;
    border-bottom: 1px solid black;
}

.h-top {
    display: flex;
    justify-content: space-between;
}

.h-top-left {
    display: flex;
}

.search-t {
    padding-left: 15px;
    cursor: pointer;
}

.h-top-right {
    display: flex;
    gap: 10px;
}

.h-top-right p {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
}

.h-top-right span {
    padding: 0 10px;
}

.login-icons {
    display: flex;
    gap: 8px;
}

.h-bottom {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.h-b-left {
    display: flex;
    align-items: center;
    width: 700px;
    gap: 10px;
}

.h-b-left p {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
}

.h-bottom span {
    padding: 0 6px;
}

.h-b-right button {
    padding: 5px 10px;
    margin-right: 5px;
    background: none;
    border: 1px solid #777;
    border-radius: 50px;
}

/* main1*/
.mySwiper1 {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.mySwiper1 .swiper-wrapper {
    display: flex;
    margin-left: -315px;
    margin-right: -315px;
}

/* .swiper-slide {
    flex-shrink: 0;
} */

.swiper-next img {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    z-index: 9;
}

.swiper-prev img {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 9;
}

.mySwiper1 .swiper-slide {
    position: relative;
    width: 630px !important;
    height: 540px !important;
    overflow: hidden;
}

.mySwiper1 .swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}

.mySwiper1 .swiper-slide.swiper-slide-next::before {
    opacity: 0;
}

.mySwiper1 .swiper-slide.swiper-slide-next+.swiper-slide::before {
    opacity: 0;
}

.mySwiper1 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slide-text {
    position: absolute;
    left: 30px;
    bottom: 40px;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;
    font-family: 'Pretendard';
}

.slide-text p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    padding-bottom: 10px;
}

.slide-text a {
    width: 60px;
    display: flex;
    font-weight: 500;
    align-items: center;
    padding: 5px 5px;
    margin-top: 20px;
    font-size: 12px;
    color: #000;
    background-color: #fff;
}

.slide-text a i {
    font-size: 10px;
    color: #000;
    padding-left: 3px;
}

.mySwiper1 .swiper-slide.swiper-slide-next .slide-text {
    opacity: 1;
    transform: translateY(0);
}

.mySwiper1 .swiper-slide.swiper-slide-next+.swiper-slide .slide-text {
    opacity: 1;
    transform: translateY(0);
}

/* main2 */
.main2 {
    margin: 150px 30px;
    display: flex;
}

.m2-left {
    padding-right: 30px;
    display: flex;
}

.m2-left p {
    font-family: "Black Han Sans", sans-serif;
    font-size: 4.8rem;
}

.m2-mid {
    display: flex;
    gap: 30px;
}

.main2-top-text {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.main2-top-text p {
    font-family: 'Pretendard';
    font-size: 1.3rem;
    font-weight: 600;
}

.main2-sub-text {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.FF005D {
    color: #FF005D;
}

.line-through {
    color: #434343;
    text-decoration: line-through;
}

.main2-sub1 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.m2-right {
    margin: 140px 70px;
}

.m2-right button {
    font-family: 'Pretendard';
    font-size: 1.6rem;
    background: none;
    padding: 8px 10px;
    border-radius: 15px;
    display: flex;
    gap: 5px;
    border: 1px solid #000;
}

.m2-right button:hover {
    color: #fff;
    background-color: #000;
}

.m2-right button:hover img {
    filter: brightness(0) invert(1);
}

/* main3 */
.main3 {
    height: 950px;
    background: url('../images/main3-bg.svg') no-repeat center/cover;
}

.main3-top {
    padding-left: 200px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.main3bold {
    font-family: 'bnlasik';
    font-weight: 900;
    font-size: 6.5rem;
    letter-spacing: -1px;
    color: #fff;
    padding-right: 30px;
}

.main3-side {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 2.5rem;
    color: #fff;
    padding-right: 5px;
}

.main3-mid {
    padding-left: 200px;
    display: flex;
    gap: 10px;
    color: #fff;
    font-family: "Inter";
    font-size: 2.4rem;
    padding-bottom: 50px;
    padding-top: 20px;
}

.mySwiper2 {
    width: 1500px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.swiper-prev2 {
    position: absolute;
    top: 50%;
    left:1%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

.swiper-next2 {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}


.mySwiper2 .swiper-slide {
    width: 320px;
    height: 420px;
}

.main3-text {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    padding: 15px 20px;
    background-color: #fff;
}

.main3-top-text {
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 600;
}

.main3-sub-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main3 .FF005D {
    font-size: 1.2rem;
    font-weight: 500;
}

.main3-sub1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.main3-card-right button {
    border: 1px solid black;
    background: none;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* main4 */
.main4 {
    height: 900px;
    background: url('../images/main4-back.svg') no-repeat center/cover;
}

.main4-top-text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    padding-left: 200px;
    padding-top: 80px;
}

.main4-sub-text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 200px;
    padding-top: 10px;
}

.main4-card-wrap1,
.main4-card-wrap2 {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main4-card {
    display: flex;
    width: 700px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
}

.main4-card>img {
    padding-left: 10px;
    width: 160px;
}

.main4-mid {
    padding-left: 50px;
    width: 400px;
}

.main4-name {
    font-family: 'Aggravo';
    font-size: 1.2rem;
}

.main4-card-sub-text {
    font-family: 'Pretendard';
    font-size: 1.4rem;
    font-weight: 500;
    color: #555555;
}

.main4-card-sub2 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
}

.main4-sub {
    display: flex;
    gap: 5px;
    font-size: 1.4rem;
}

.main4-sub1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.main4-btn button {
    gap: 5px;
    background: none;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 5px 10px;
}

.main4-btn button i {
    padding-left: 5px;
}

.main4-btn button:hover {
    background-color: #000;
    color: #fff;
}

.main4-btn button:hover img {
    filter: brightness(0) invert(1);
}

.main4-card>img {
    transition: all .6s;
}

.main4-card>img:hover {
    transform: scale(1.2);
}

/* main5 */
.main5 {
    margin: 120px 100px;
}

.main5-title {
    font-family: 'bnlasik';
    font-size: 6rem;
    text-align: center;
}

.main5-subtitle {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.mySwiper3 .swiper-wrapper {
    display: flex;
    /* width: 1000px; */
}

.main5-text-top {
    width: 395px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

}

.main5-text-top p {
    font-size: 1.6rem;
    font-weight: 500;
}

.main5-sub-text {
    display: flex;
    gap: 5px;
}

.main5-sub-text .FF005D,
.line-through {
    font-size: 1.4rem;
    font-weight: 500;
}

.main5-sub1 {
    font-size: 1.6rem;
    font-weight: 500;
}

/* .main5 .swiper-slide >img {
    transition: all 0.3s;
}
.main5 .swiper-slide:hover > img {
    transform: scale(1.1); 
} */

/*main6*/
.main6 {
    margin: 60px 200px;
    font-family: 'Pretendard';
}

.main6-title {
    text-align: center;
    font-family: 'bnlasik';
    font-size: 8rem;
}

.tapmenu {
    width: 600px;
    margin: 100px;
    position: relative;
}

.taptitle {
    display: flex;
    margin-bottom: 50px;
}

.taptitle li {
    width: 20%;
    text-align: center;
    line-height: 40px;
    border: 1px solid black;
    font-size: 1.8rem;
    font-weight: 500;
}

.taptitle li.on {
    background-color: #000;
    color: #fff;
}

.tap {
    display: flex;
    gap: 300px;
}

.tap-text p:nth-child(1) {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    margin: 15px 0;
}

.tap-text p:nth-child(1)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 99;
    width: 600px;
    height: 1px;
    background-color: #000;
}

.tap-text p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 0;
}

.tap-text p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 500;
}

.main6-img-w {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.img-text {
    font-size: 1.2rem;
    font-weight: 500;
    width: 350px;
}

.img-text p:nth-child(2) {
    font-weight: 600;
    font-size: 1.4rem;
}

.main6-btn {
    width: 100px;
    padding: 5px;
    background: none;
    border: 1px solid black;
}

.tap-right button {
    background: none;
    border: none;
    width: 500px;
    text-align: end;
    font-weight: 500;
}

/* footer */
footer {
    border-top: 1px solid #ddd;
    font-family: "Inter", sans-serif;
    padding: 120px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-logo img {
    padding-bottom: 20px;
}

.fr-text {
    font-size: 1.6rem;
    font-weight: 600;
}

.fr-text1 {
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
}

.fr-500 {
    font-weight: 500;
}

.fr-text2 {
    font-size: 1.2rem;
    color: #666666;
}

.f-tsub-1 {
    display: flex;
}

.f-tsub-1 span {
    padding: 0 3px;
}

.f-tsub-2 {
    display: flex;
}

.f-tsub-2 span {
    padding: 0 3px;
}

.fr-text2 i {
    padding: 0 5px;
}

.f-unline {
    text-decoration: underline;
    cursor: pointer;
    color: #555;
}

.f-snsi {
    padding-top: 2rem;
    display: flex;
    gap: 0.5rem;
}

.f-snst {
    color: #444;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.f-sns-w {
    display: flex;
    gap: .5rem;
}

.f-l-t1 {
    font-size: 1.5rem;
}

.f-t1-w {
    padding-bottom: 10px;
}

.f-t1 {
    font-size: 2rem;
    font-weight: 500;
}

.f-btn {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}

.f-btn1 {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #555;
    background: none;
}

.f-btn2 {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #555;
    background: none;
}

/* gotop */
.gotop {
    background: none;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999;
}